td,tr{
    border: 1px solid black;
    padding: 5px;
    max-width: 200px;
}

table{
    display: flex;
}

.table{
    display: flex;
    flex-direction: column;
}

.main-div{
    align-items: center;
    margin:5px 15%;
}


.image{
    height: 500px;
}