.form-div{
    display: flex;
    justify-content: center;
    border: 1px solid black;
    /* width:25%;
    justify-self: center; */
}

form {
    text-align: center;
    margin-left: 35%;
    margin-top: 15%;
    border: 1px solid black;
    width: 30%;
    height: auto;
}

form input{
   background-color: rgb(212, 214, 220);
   margin-top: 15px;
   padding: 10px;
   width: 100%;
}

form h1{
    font-size: 25px;
}
